.popup-input {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
}

.popup-input:first-child {
  margin-bottom: 30px;
}
