@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/page/page.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__like/place__like.css);
@import url(../blocks/place/__option/place__option.css);
@import url(../blocks/place/__title/place__title.css);

@import url(../blocks/places/places.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__form/popup__form.css);

@import url(../blocks/popup/_open/popup_open.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__img/profile__img.css);

@import url(../blocks/profile-char/profile-char.css);
@import url(../blocks/profile-char/__add/profile-char__add.css);
@import url(../blocks/profile-char/__discr/profile-char__discr.css);
@import url(../blocks/profile-char/__edit/profile-char__edit.css);
@import url(../blocks/profile-char/__info/profile-char__info.css);
@import url(../blocks/profile-char/__subtitle/profile-char__subtitle.css);
@import url(../blocks/profile-char/__title/profile-char__title.css);
